<ion-header>
  <ion-toolbar>
    <ion-title>Passwort ändern</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Schließen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="changePassword()">
    <ion-item>
      <ion-label position="floating">Aktuelles Passwort</ion-label>
      <ion-input type="password" [(ngModel)]="currentPassword" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Neues Passwort</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Neues Passwort bestätigen</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="full">Ändern</ion-button>
  </form>
</ion-content>
