<ion-menu side="end" [menuId]="menuId" contentId="searchbar">
  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="menuId!=='mapMenu'">Optionen</ion-title>
      <ion-title *ngIf="menuId==='mapMenu'">Filter</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-segment [(ngModel)]="segmentValue" (ionChange)="segmentChanged($event)" *ngIf="menuId!=='mapMenu'">
      <ion-segment-button value="filter">
        <ion-label>Filtern</ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="menuId!=='mapMenu'" value="sort">
        <ion-label>Sortieren</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="segmentValue === 'sort'">
      <ion-list lines="full" class="ion-padding-vertical">
        <ion-item>
          <ion-label position="stacked">Sortieren nach</ion-label>
          <ion-select interface="popover" [(ngModel)]="selectedSortOrder" (ionChange)="applySorting()">
            <ion-select-option value="title">Titel</ion-select-option>
            <ion-select-option value="crime_date_time">Tatzeitpunkt</ion-select-option>
            <ion-select-option value="created_at">Erstellt</ion-select-option>
            <ion-select-option value="distance_to_location">Entfernung</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="segmentValue === 'filter'">
      <ion-list lines="full" class="ion-padding-vertical">

        <ion-item>
          <ion-label position="stacked">Crimefluencer</ion-label>
          <ion-select multiple="true" placeholder="Crimefluencer auswählen" [(ngModel)]="selectedCrimefluencerIds"
                      interface="popover">
            <ion-select-option *ngFor="let user of crimefluencers" [value]="user">
              {{ user.username }}
            </ion-select-option>
          </ion-select>
        </ion-item>


        <ion-item>
          <ion-label position="stacked">Datumsbereich Tatzeitpunkt</ion-label>
          <ion-toggle [(ngModel)]="enableDateRangeSearch"
                      (ionChange)="toggleEnableDateRangeSearch($event)"></ion-toggle>
        </ion-item>

        <ion-item *ngIf="enableDateRangeSearch">
          <ion-label position="stacked">Startdatum</ion-label>
          <ion-input [value]="startDate | date: 'dd.MM.YYYY'" id="open-start-modal"
                     placeholder="Startdatum auswählen"></ion-input>
          <ion-note *ngIf="missingStartDate" color="danger">Bitte Startdatum angeben.</ion-note>
        </ion-item>
        <ion-item *ngIf="enableDateRangeSearch">
          <ion-label position="stacked">Enddatum</ion-label>
          <ion-input [value]="endDate | date: 'dd.MM.YYYY'" id="open-end-modal"
                     placeholder="Enddatum auswählen"></ion-input>
          <ion-note *ngIf="missingEndDate" color="danger">Bitte Enddatum angeben.</ion-note>
        </ion-item>

        <ion-modal id="start-date-modal" trigger="open-start-modal" *ngIf="enableDateRangeSearch">
          <ng-template>
            <ion-datetime [preferWheel]="true" presentation="date" (ionChange)="setStartDate($event)"></ion-datetime>
          </ng-template>
        </ion-modal>

        <ion-modal id="end-date-modal" trigger="open-end-modal" *ngIf="enableDateRangeSearch">
          <ng-template>
            <ion-datetime [preferWheel]="true" presentation="date" (ionChange)="setEndDate($event)"></ion-datetime>
          </ng-template>
        </ion-modal>

        <ion-item>
          <ion-label position="stacked">Falltyp</ion-label>
          <ion-select multiple="true" interface="popover" placeholder="Typ auswählen" [(ngModel)]="selectedCaseTypes">
            <ion-select-option *ngFor="let casetype of caseTypes"
                               [value]="casetype">{{ HelperUtils.formatCrimeType(casetype) }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Status</ion-label>
          <ion-select interface="popover" placeholder="Status auswählen" [(ngModel)]="selectedStatus">
            <ion-select-option value="open">Offen</ion-select-option>
            <ion-select-option value="closed">Geschlossen</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="menuId!=='mapMenu'">
          <ion-label position="stacked">Umkreissuche</ion-label>
          <ion-toggle [(ngModel)]="enableLocationSearch"></ion-toggle>
        </ion-item>

        <ion-item *ngIf="enableLocationSearch && menuId!=='mapMenu'">
          <ion-label position="stacked">Aktuellen Standort verwenden</ion-label>
          <ion-toggle [(ngModel)]="useCurrentLocation" (ionChange)="toggleUseCurrentLocation($event)"></ion-toggle>
        </ion-item>

        <ion-item *ngIf="enableLocationSearch && !useCurrentLocation && menuId!=='mapMenu'">
          <ion-label position="stacked">Ort</ion-label>
          <ion-input [(ngModel)]="inputLocation" (ionInput)="onLocationFilterChange(inputLocation)"
                     placeholder="Ort auswählen"></ion-input>
          <ion-note *ngIf="missingLocationDetails" color="danger">Bitte Ort angeben.</ion-note>
        </ion-item>

        <ion-list *ngIf="enableLocationSearch && !useCurrentLocation && locations.length > 0 && menuId!=='mapMenu'">
          <ion-item *ngFor="let location of locations" (click)="onLocationFilterSelected(location)">
            <ion-label *ngIf="location.city !== undefined">
              {{location.city}} <span *ngIf="location.sub"> {{ ' ' + location.sub }} </span>
              <span *ngIf="location.county"> {{ ' | ' + location.county }} </span>
            </ion-label>
          </ion-item>
        </ion-list>

        <ion-item *ngIf="enableLocationSearch && menuId!=='mapMenu' ">
          <ion-label position="stacked">Umkreis (in km)</ion-label>
          <ion-range min="1" max="100" pin="true" [(ngModel)]="radius">
            <ion-label slot="start">1 km</ion-label>
            <ion-label slot="end">100 km</ion-label>
          </ion-range>
        </ion-item>

        <ion-button expand="block" (click)="applyFilters()">Filter anwenden</ion-button>

      </ion-list>
    </div>
  </ion-content>
</ion-menu>


<ion-header id="searchbar">
  <ion-toolbar>
    <div style="display: flex; align-items: center; margin-top: -2px; padding-bottom: 4px">
      <ion-buttons *ngIf="!searchActive" slot="start">
        <ion-button>
          <img src="./assets/icon/icon-cs.png">
        </ion-button>
      </ion-buttons>
      <ion-searchbar animated="true"
                     placeholder="{{menuId === 'caselistMenu'? 'Suche in Falltiteln': 'Suche nach Ort oder PLZ'}}"
                     show-cancel-button="focus" cancel-button-text="Abbrechen"
                     (ionFocus)="onSearchFocus()"
                     (ionInput)="onSearchChange(inputSearch)"
                     (ionBlur)="onSearchBlur()"
                     (ionClear)="onSearchClear()" [(ngModel)]="inputSearch" (ionCancel)="onSearchCancel()">
      </ion-searchbar>
      <ion-buttons *ngIf="!searchActive" slot="end">
        <ion-button (click)="openFilterMenu()">
          <ion-icon slot="icon-only" name="options-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <ion-list *ngIf="searchList.length > 0">
      <ion-item *ngFor="let search of searchList" (click)="onSearchEntrySelected(search)">
        <ion-label *ngIf="search.city !== undefined">
          {{search.city}} <span *ngIf="search.sub"> {{ ' ' + search.sub }} </span>
          <span *ngIf="search.county"> {{ ' | ' + search.county }} </span>
        </ion-label>
      </ion-item>
    </ion-list>
    <div class="chips-container" *ngIf="!(menuId && !filters)">
      <ion-chip color="secondary" *ngIf="selectedSortOrder && menuId === 'caselistMenu'"
                (click)="toggleSortDirection()">
        <ion-label>
          {{
          selectedSortOrder === 'created_at' ? 'Erstellt' :
            (selectedSortOrder === 'crime_date_time' ? 'Tatzeitpunkt' :
              (selectedSortOrder === 'title' ? 'Titel' :
                (selectedSortOrder === 'distance_to_location' ? 'Entfernung' : '')))
          }}
        </ion-label>
        <ion-icon name="{{ isAscendingSort ? 'arrow-up-outline' : 'arrow-down-outline' }}"></ion-icon>
      </ion-chip>
      <ion-chip *ngFor="let filter of filters" color="primary">
        <ion-label>
          {{ filter.type === 'crimefluencer' ? formatCrimefluencer(filter.value) : '' }}
          {{ filter.type === 'dateRange' ? formatDateRange(filter.value) : '' }}
          {{ filter.type === 'caseType' ? 'Falltyp: ' + HelperUtils.formatCrimeType(filter.value.toString()) : '' }}
          {{ filter.type === 'status' ? 'Status: ' + (filter.value === "open" ? 'Offen' : 'Geschlossen') : '' }}
          {{ filter.type === 'location' ? formatLocation(filter.value) : '' }}
        </ion-label>
        <ion-icon name="close-circle" (click)="removeFilter(filter)"></ion-icon>
      </ion-chip>
    </div>
  </ion-toolbar>
</ion-header>

