ion-modal {
  --width: fit-content;
  --height: fit-content;
  --border-radius: 10px;
  --background: transparent;
}

.chips-container {
  margin-bottom: -3px;
  margin-top: -4px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--ion-color-primary) var(--ion-color-secondary);
}

.chips-container::-webkit-scrollbar {
  height: 4px;
}

.chips-container::-webkit-scrollbar-thumb {
  background: var(--ion-color-primary);
  border-radius: 2px;
}

.chips-container::-webkit-scrollbar-track {
  background: var(--ion-color-secondary);
}

ion-chip {
  flex: 0 0 auto;
}

ion-searchbar {
  padding-right: 5px;
  padding-left: 5px;
}

ion-buttons {
  margin: -2px;
  padding-left: 2px;
  padding-right: 2px;
}

ion-button img {
  height: 36px;
  weight: 36px;
}
