<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>add2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form" [formGroup]="form">
    <app-location-picker formControlName="location"></app-location-picker>
    <ion-item>
      <ion-label position="stacked">Bilder</ion-label>
      @if(images.length === 0){
      <div id="pictureSelection">
        <ion-item button (click)="uploadImage()">
          <ion-icon slot="start" name="image-outline"></ion-icon>
          <ion-label>Bilder hinzuzufügen</ion-label>
        </ion-item>
      </div>
      }
      @else {
      <div class="scrolling-wrapper">
        @for(image of images; track image; let idx = $index){
        <div class="card">
          <img src={{image.dataUrl}} />
          <ion-button class="delete-button" (click)="discardImage(image)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
        }
        <div class="card">
          <ion-button class="add-image" (click)="uploadImage()">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      }

    </ion-item>

    <ion-item>
      <ion-label position="stacked">Links</ion-label>
      @for(link of links.controls; track link; let idx = $index){
      <ion-item id="linkContainer">
          <ion-icon slot="start" [name]="HelperUtils.convertLinkTypeToIcon(link.get('type')?.value)" (click)="chooseIcon(idx)"></ion-icon>
          <ion-input placeholder="Link eingeben"></ion-input>
          <ion-icon slot="end" name="close-outline" (click)="removeLink(idx)" style="cursor: pointer;"></ion-icon>
        </ion-item>
        }

      <ion-item button id="addLinkContainer" (click)="addLink()">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        <ion-label>Link hinzufügen</ion-label>
      </ion-item>
    </ion-item>
  </form>


</ion-content>


<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="submitForm()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>


<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="routeToPreviousPage()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>