<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Neuen Fall anlegen</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form class="form" [formGroup]="form">
    <app-location-picker formControlName="location" [defaultLocation]="currentLocation ?? {latitude: 52.52437, longitude: 13.41053}"></app-location-picker>
    <ion-item>
      <ion-label position="stacked">Bilder</ion-label>
      <div id="pictureSelection" *ngIf="images.length === 0">
        <ion-item button (click)="uploadImage()">
          <ion-icon slot="start" name="image-outline"></ion-icon>
          <ion-label>Bilder hinzuzufügen</ion-label>
        </ion-item>
      </div>
      <div class="scrolling-wrapper" *ngIf="images.length > 0">
        <div class="card" *ngFor="let image of images; index as idx">
          <img [src]="image.dataUrl" />
          <ion-button class="delete-button" (click)="discardImage(image)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="card">
          <ion-button class="add-image" (click)="uploadImage()">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Links</ion-label>
      <div formArrayName="further_links" id="linkContainer">
        <ion-item *ngFor="let link of links.controls; index as idx" [formGroupName]="idx">
          <ion-icon slot="start" [name]="HelperUtils.convertLinkTypeToIcon(link.get('type')?.value)" (click)="chooseIcon(idx)"></ion-icon>
          <ion-input placeholder="Link eingeben" formControlName="value"></ion-input>
          <ion-icon slot="end" name="close-outline" (click)="removeLink(idx)" style="cursor: pointer;"></ion-icon>
        </ion-item>
      </div>
      <ion-item button id="addLinkContainer" (click)="addLink()">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        <ion-label>Link hinzufügen</ion-label>
      </ion-item>
    </ion-item>
  </form>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="submitForm()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>


<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="routeToPreviousPage()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>