<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Neuen Fall anlegen</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form class="form" [formGroup]="form">
    <ion-item formGroupName="location">
      <ion-label position="stacked" class="header">Tatort</ion-label>
      <ion-item style="width: 100%; margin-top: 5px;">
      <app-location-picker formControlName="coordinates" (selectedLocation)="selectedLocationChanged($event)" [defaultLocation]="currentLocation || {latitude: 30, longitude: 30}" style="width: 100%;"></app-location-picker>
    </ion-item>
    @if(this.form.get('location')?.get('coordinates')?.value != undefined){
    <ion-item style="width: 100%">
      <ion-input label="Postleitzahl" labelPlacement="stacked" formControlName="plz" type="number">
      </ion-input>
    </ion-item>
    <ion-item style="width: 100%">
      <ion-input label="Ort" labelPlacement="stacked" formControlName="city"></ion-input>
    </ion-item>
  }
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Bilder</ion-label>
      <div id="pictureSelection" *ngIf="images.length === 0">
        <ion-item button (click)="uploadImage()">
          <ion-icon slot="start" name="image-outline"></ion-icon>
          <ion-label>Bilder hinzuzufügen</ion-label>
        </ion-item>
      </div>
      <div class="scrolling-wrapper" *ngIf="images.length > 0">
        <div class="card" *ngFor="let image of images; index as idx">
          <img [src]="image.dataUrl" />
          <ion-button class="delete-button" (click)="discardImage(image)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="card">
          <ion-button class="add-image" (click)="uploadImage()">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Links</ion-label>
      <div formArrayName="further_links" id="linkContainer">
        <ion-item *ngFor="let link of links.controls; index as idx" [formGroupName]="idx">
          <div slot="start" (click)="chooseIcon(idx)" class="linkTypeIconContainer">
            <ion-icon [name]="HelperUtils.convertLinkTypeToIcon(link.get('type')?.value)" style="font-size: 1.5em;"></ion-icon>
            <ion-icon name="caret-down-outline" style="font-size: 0.75em"></ion-icon>
          </div>
          <ion-input placeholder="Link eingeben" formControlName="value"></ion-input>
          <ion-icon slot="end" name="close-outline" (click)="removeLink(idx)" style="cursor: pointer;"></ion-icon>
        </ion-item>
      </div>
      <ion-item button id="addLinkContainer" (click)="addLink()">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        <ion-label>Link hinzufügen</ion-label>
      </ion-item>
    </ion-item>
  </form>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" [hidden]="hideForwardFab">
  <ion-fab-button (click)="submitForm()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>


<ion-fab vertical="bottom" horizontal="start" slot="fixed" [hidden]="hideBackFab">
  <ion-fab-button (click)="routeToPreviousPage()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>