<ion-content #content *ngIf="comments.length !== 0">
  <div class="chat-container">
    <div *ngFor="let message of comments">
      <ion-card [class.my-message]="isMyMessage(message)">
        <div class="message-row">
          <ion-avatar *ngIf="!isMyMessage(message)">
            <img [src]="message.avatarUrl" alt="User Avatar">
          </ion-avatar>
          <div class="message-text">
            <ion-card-header>
              <ion-card-subtitle>
                <span class="card-subtitle">{{ message.user?.username }}
                  am {{ message.created_at | date:'dd.MM.yyyy, HH:mm' }}</span>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                <p>{{ message.text }}</p>
              </ion-text>
            </ion-card-content>
          </div>
          <ion-avatar *ngIf="isMyMessage(message)">
            <img [src]="message.avatarUrl" alt="User Avatar">
          </ion-avatar>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
<ion-card *ngIf="comments.length === 0">
  <ion-text color="medium">
    <p>Keine Kommentare vorhanden.</p>
  </ion-text>
</ion-card>
<div class="message-input">
  <ion-item lines="none">
    <ion-textarea [(ngModel)]="newCommentText"
                  placeholder="Schreibe einen Kommentar"
                  [autoGrow]="true"
                  [rows]="1"></ion-textarea>
    <ion-button slot="end" (click)="addComment()" fill="clear">
      <ion-icon slot="icon-only" name="send"></ion-icon>
    </ion-button>
  </ion-item>
</div>
