<div class="chat-container" #chatContainer>
  <div *ngFor="let message of comments">
    <ion-card [class.my-message]="isMyMessage(message)">
      <ion-card-header>
        <ion-card-subtitle>
          <span class="card-subtitle">{{ message.user.username }}
            am {{ message.created_at | date:'dd.MM.yyyy, HH:mm' }}</span>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          <p>{{ message.text }}</p>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="comments.length === 0">
    <ion-text color="medium">
      <p>Keine Kommentare vorhanden.</p>
    </ion-text>
  </div>
</div>

<div class="message-input">
  <ion-item lines="none">
    <ion-textarea [(ngModel)]="newCommentText"
                  placeholder="Schreibe einen Kommentar"
                  [autoGrow]="true"
                  [rows]="3"></ion-textarea>
    <ion-button slot="end" (click)="addComment()" fill="clear">
      <ion-icon slot="icon-only" name="send"></ion-icon>
    </ion-button>
  </ion-item>
</div>
