<ion-header>
  <ion-toolbar>
    <ion-title>Registrierung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="register()" [formGroup]="registerForm">
    <ion-item>
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-error" *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
      <ion-label>E-Mail ist erforderlich</ion-label>
    </div>
    
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <div class="validation-error" *ngIf="registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched">
      <ion-label>Benutzername ist erforderlich</ion-label>
    </div>

    <ion-item>
      <ion-label position="floating">Passwort</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-error" *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
      <ion-label>Passwort ist erforderlich</ion-label>
    </div>
    <div class="validation-error" *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched">
      <ion-label>Passwort muss mindestens 8 Zeichen lang sein</ion-label>
    </div>

    <ion-item>
      <ion-label position="floating">Passwort wiederholen</ion-label>
      <ion-input type="password" formControlName="confirmpassword"></ion-input>
    </ion-item>
    <div class="validation-error" *ngIf="registerForm.hasError('notmatched') && registerForm.get('confirmpassword')?.touched">
      <ion-label>Die Passwörter stimmen nicht überein</ion-label>
    </div>
    <ion-button type="submit" expand="block">Registrieren</ion-button>
    <ion-button (click)="toLogin()" expand="block" fill="clear">Zum Login</ion-button>
  </form>
</ion-content>
