<ion-list>
  <ion-item-sliding *ngFor="let case of cases">
    <ion-item-options side="start">
      <ion-item-option color="primary">
        <ion-icon name="thumbs-up-outline"></ion-icon>
      </ion-item-option>
      <ion-item-option color="danger">
        <ion-icon name="thumbs-down-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item>
      <ion-label>
        <h2>{{ case.title }}</h2>
        <h4>{{ case.case_type }} | {{ case.status }}</h4>
        <p>{{ case.summary }}</p>
      </ion-label>

      <div class="media-icons" slot="end">
        <ion-icon name="mic-circle-outline"></ion-icon>
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-icon name="images-outline"></ion-icon>
      </div>

      <div class="voting-buttons" slot="end">
        <ion-button>
          <ion-icon name="chevron-up-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option>
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="navigateToAddPage()">
    <ion-icon name="add" ></ion-icon>
  </ion-fab-button>
</ion-fab>


