<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/tabs/tab2" name="close-sharp"></ion-back-button>
    </ion-buttons>
    <ion-title>Neuen Fall anlegen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="routeToNextPage()">
        <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
  <form class="form" [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item style="--background: var(--ion-card-background)">
            <ion-label position="stacked">Titel</ion-label>
            <ion-input placeholder="Geben Sie ihrem Fall einen Titel" formControlName="title"></ion-input>
          </ion-item>
          <ion-item style="--background: var(--ion-card-background)" lines="none" *ngIf="form.get('title')?.hasError('required') && form.get('title')?.touched">
            <ion-text color="danger">
              <p>Titel ist erforderlich</p>
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item style="--background: var(--ion-card-background)">
            <ion-label position="stacked">Status</ion-label>
            <ion-select placeholder="Wählen Sie einen Status" formControlName="closed">
              <ion-select-option value="false">Offen</ion-select-option>
              <ion-select-option value="true">Geschlossen</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item style="--background: var(--ion-card-background)" lines="none" *ngIf="form.get('closed')?.hasError('required') && form.get('closed')?.touched">
            <ion-text color="danger">
              <p>Status ist erforderlich</p>
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item style="--background: var(--ion-card-background)">
            <ion-label position="stacked">Beschreibung</ion-label>
            <ion-textarea placeholder="Geben Sie ihrem Fall eine Beschreibung" formControlName="summary" autosize
              rows="3" [autoGrow]="true">
            </ion-textarea>
          </ion-item>
          <ion-item style="--background: var(--ion-card-background)" lines="none" *ngIf="form.get('summary')?.hasError('required') && form.get('summary')?.touched">
            <ion-text color="danger">
              <p>Beschreibung ist erforderlich</p>
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item style="--background: var(--ion-card-background)">
            <ion-label position="stacked">Falltyp</ion-label>
            <ion-select placeholder="Wählen Sie einen Falltyp" formControlName="type">
              @for(type of caseTypes; track type){
              <ion-select-option [value]="type">{{ HelperUtils.formatCrimeType(type) }}</ion-select-option>
              }
            </ion-select>
          </ion-item>
          <ion-item style="--background: var(--ion-card-background)" lines="none" *ngIf="form.get('type')?.hasError('required') && form.get('type')?.touched">
            <ion-text color="danger">
              <p>Falltyp ist erforderlich</p>
            </ion-text>
</ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item style="--background: var(--ion-card-background)">
            <ion-label position="stacked">Tatzeit</ion-label>
            <ion-input formControlName="date_of_crime"
              [value]="form.get('date_of_crime')?.value | date: 'dd.MM.yyyy HH:mm'" id="open-date-modal"
              placeholder="Startdatum auswählen" enabled="false" readonly>
            </ion-input>
          </ion-item>
          <ion-item style="--background: var(--ion-card-background)" lines="none" *ngIf="form.get('date_of_crime')?.hasError('required') && form.get('date_of_crime')?.touched">
            <ion-text color="danger">
              <p>Tatzeit ist erforderlich</p>
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-modal trigger="open-date-modal">
      <ng-template width="100%">
        <ion-datetime formControlName="date_of_crime"></ion-datetime>
      </ng-template>
    </ion-modal>
  </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-toast message="Bitte füllen Sie alle Felder aus" duration="700" icon="warning-outline"></ion-toast>
