<ion-card *ngIf="caseDetails">
  <ion-card-header>
    <ion-card-title>{{ caseDetails.title }}</ion-card-title>
    <ion-card-subtitle> {{ caseDetails.zip_code }}, {{ caseDetails.place_name }}
      <br>
      Am {{ caseDetails.crime_date_time | date: 'dd.MM.YYYY' }} um {{ caseDetails.crime_date_time | date: 'hh:mm' }}
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <div class="chips-container">
      <ion-chip color="primary">
        <ion-icon name="finger-print"></ion-icon>
        <ion-label>{{ HelperUtils.formatCrimeType(caseDetails.case_type) }}</ion-label>
      </ion-chip>
      <ion-chip [color]="caseDetails.status === 'open' ? 'danger' : 'success'">
        <ion-icon name="lock-open-outline" *ngIf="caseDetails.status === 'open'"></ion-icon>
        <ion-icon name="lock-closed-outline" *ngIf="caseDetails.status !== 'open'"></ion-icon>
        <ion-label>{{ HelperUtils.formatStatus(caseDetails.status) }}</ion-label>
      </ion-chip>
    </div>
    <ion-text>
      <br>
      <p>{{ caseDetails.summary }}</p>
    </ion-text>
    <div style="display: flex; justify-content: flex-end;">
      {{caseDetails.username}} am: {{ caseDetails.created_at | date: 'dd.MM.YYYY, hh:mm' }}
    </div>
  </ion-card-content>
</ion-card>
