<app-filter-search placeholder="Fälle durchsuchen..." menuId="caselistMenu"></app-filter-search>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshCaselist($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <app-caselist></app-caselist>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="userrole === 'admin' || userrole ==='crimefluencer'">
    <ion-fab-button (click)="navigateToAddPage()">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


