
:host(.ng-touched.ng-invalid) .formbody {
    --border-color: var(--highlight-color-invalid);
    --border-style: solid;
    --border-width: 1px;
  }

:host(.ng-touched.ng-invalid) .header {
    color: var(--highlight-color-invalid);
}

