<ion-header>
  <ion-toolbar>
    <ion-title>Passwort zurücksetzen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="resetPassword()" [formGroup]="resetForm">
        <ion-item style="align-items: center;">
          <ion-label position="floating">Neues Passwort</ion-label>
          <ion-input type="password" formControlName="newPassword" [type]="showNewPassword ? 'text' : 'password'"></ion-input>
          <ion-button fill="clear" slot="end" size="medium" (click)="togglePasswordVisibility('newPassword')" style="margin-right: -25px">
            <ion-icon [name]="showNewPassword ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item lines="none" *ngIf="resetForm.get('newPassword')?.errors?.['required'] && resetForm.get('newPassword')?.touched">
          <ion-text color="danger">
            <p>Neues Passwort ist erforderlich</p>
          </ion-text>
        </ion-item>
        <ion-item lines="none" *ngIf="resetForm.get('newPassword')?.errors?.['minlength'] && resetForm.get('newPassword')?.touched">
          <ion-text color="danger">
            <p>Das Passwort muss mindestens 6 Zeichen lang sein</p>
          </ion-text>
        </ion-item>

        <ion-item style="align-items: center;">
          <ion-label position="floating">Passwort bestätigen</ion-label>
          <ion-input type="password" formControlName="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'"></ion-input>
          <ion-button fill="clear" slot="end" size="medium" (click)="togglePasswordVisibility('confirmPassword')" style="margin-right: -25px">
            <ion-icon [name]="showConfirmPassword ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item lines="none" *ngIf="resetForm.errors?.['mismatch'] && resetForm.get('confirmPassword')?.touched">
          <ion-text color="danger">
            <p>Die Passwörter stimmen nicht überein</p>
          </ion-text>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button type="submit" expand="block" [disabled]="loading || !resetForm.valid">
                Passwort zurücksetzen
                <ion-spinner *ngIf="loading"></ion-spinner>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
