<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Passwort zurücksetzen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="resetPassword()" [formGroup]="resetForm">
        <ion-item style="--background: var(--ion-card-background)">
          <ion-label position="floating">E-Mail</ion-label>
          <ion-input type="email" formControlName="email" required></ion-input>
        </ion-item>
        <ion-item lines="none" *ngIf="resetForm.get('email')?.hasError('required') && resetForm.get('email')?.touched" style="--background: var(--ion-card-background)">
          <ion-text color="danger">
            <p>E-Mail ist erforderlich</p>
          </ion-text>
        </ion-item>
        <ion-item lines="none" *ngIf="resetForm.get('email')?.hasError('email') && resetForm.get('email')?.touched" style="--background: var(--ion-card-background)">
          <ion-text color="danger">
            <p>Bitte geben Sie eine gültige E-Mail-Adresse ein</p>
          </ion-text>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button type="submit" expand="block" [disabled]="loading || !resetForm.valid">
                Link senden
                <ion-spinner *ngIf="loading"></ion-spinner>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
