<ion-header>
  <ion-toolbar>
    <ion-title>E-Mail Änderung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="ion-text-center">
      <ion-icon name="mail-open-outline" color="primary" style="font-size: 72px;"></ion-icon>
      <p>Sie haben eine E-Mail-Änderung angefordert. Um den Prozess abzuschließen, öffnen Sie bitte den Bestätigungslink, den wir an Ihre neue E-Mail-Adresse gesendet haben.</p>
      <p>Bitte überprüfen Sie Ihr neues E-Mail-Postfach und folgen Sie den Anweisungen, um Ihre neue E-Mail-Adresse zu bestätigen.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
