.scrolling-wrapper {
    margin-top: 10px;
    height: 30vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
        position: relative;
        display: inline-flex; /* Use flexbox */
        flex-direction: column; /* Stack children vertically */
        height: 100%; /* Set height of card */
        justify-content: center; /* Vertically center contents */
        align-items: center; /* Horizontally center contents */

        img {
            height: 100%;
        }

        .add-image{
            height: 100%;
        }

        .delete-button {
            position: absolute;
            top: 5px; /* Adjust as needed */
            right: 5px; /* Adjust as needed */
            border: none;
            padding: 5px;
            cursor: pointer;
        }

    }
  }
