<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>add-event</ion-title>

<ion-segment [(ngModel)]="segment">
  <ion-segment-button value="1">
    <ion-label>1</ion-label>
  </ion-segment-button>
  <ion-segment-button disabled="segment === 1" value="2">
    <ion-label>2</ion-label>
  </ion-segment-button>
</ion-segment>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">add-event</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-add *ngIf="segment === '1'"></app-add>
  <app-add2 *ngIf="segment === '2'"></app-add2>
</ion-content>

