<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button routerLink="profile-edit" expand="block">Profil bearbeiten</ion-button>
  <ion-button (click)="openPasswordChangeModal()" expand="block">Passwort ändern</ion-button>
  <ion-button (click)="logout()" color="danger" expand="block">Logout</ion-button>

</ion-content>
