<ion-header translucent>
  <ion-toolbar>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="full">
    <ion-list-header>
      <ion-label>Personalisierung</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon name="moon" slot="start"></ion-icon>
      <ion-label>Dunkelmodus</ion-label>
      <ion-toggle slot="end" [(ngModel)]="settings.darkMode" (ionChange)="toggleDarkMode()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon name="notifications" slot="start"></ion-icon>
      <ion-label>Benachrichtigungen</ion-label>
      <ion-toggle slot="end" [(ngModel)]="settings.notifications" (ionChange)="toggleNotifications()"></ion-toggle>
    </ion-item>

    <ion-list-header>
      <ion-label>Konto</ion-label>
    </ion-list-header>
    <ion-item button (click)="navigateTo('privacy')">
      <ion-icon name="lock-closed" slot="start"></ion-icon>
      <ion-label>Datenschutzeinstellungen</ion-label>
    </ion-item>

    <ion-item button [routerLink]="['account-management']">
      <ion-icon name="person-circle" slot="start"></ion-icon>
      <ion-label>Account-Management</ion-label>
    </ion-item>

    <ion-item lines="none" button (click)="logout()">
      <ion-icon name="exit" slot="start" color="danger"></ion-icon>
      <ion-label color="danger">Abmelden</ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>Über Crimespotter</ion-label>
    </ion-list-header>
    <ion-item lines="none" button (click)="logout()">
      <ion-icon name="exit" slot="start"></ion-icon>
      <ion-label>Feedback geben</ion-label>
    </ion-item>
    <ion-item lines="none" button (click)="logout()">
      <ion-icon name="exit" slot="start"></ion-icon>
      <ion-label>Support erhalten</ion-label>
    </ion-item>
    Informationen zur App-Version
    Lizenzinformationen
    Links zu Datenschutzerklärung und Nutzungsbedingungen
  </ion-list>
</ion-content>
